<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Recipe Finder</title>
  </head>
  <link rel="stylesheet" href="/styles/form.css">
  <body>
    <h1>Search for a recipe</h1>
    <form method="post" action ="templates/recipe">
      <p> What do you want to cook? </p>
      <p><input type = "text" name="query"> </p>
      <div>Using what ingredients?</div>
      <div><input name="ingredients"></div>
      <div>and</div>
      <div><input name="ingredients2"></div>
      <div></div>
      <p><input type="submit"  value="Find Recipes"></p>
    </form>
    <div>  </div>
    <p id = kev> Made by Kevin Gager</p>
  </body>
</html>
