<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Your Recipe</title>
  <link rel="stylesheet" href="/styles/recipe.css">
</head>
<body>
  <p id = "here">Here Are Your Recipes: </p>
  <section>
    {% for result in results.results %}
      <section class="result">
        <div id="text">
          <div id = foodName>{{ result.title }}</div>
          <div id = ingredients>{{ result.ingredients }}</div>
        </div>
        <div><img id = foodImages src="{{ result.thumbnail }}"></div>
      </section>

      {% endfor %}
  </section>
  <p><a href="/">Search Again</a></p>
</body>
</html>
